* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.app {
  max-width: 380px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.8rem;
  background: black;
  border-radius: 10px;
}
.input {
  position: relative;
  height: 150px;
}
.input input {
  width: 100%;
  height: 100%;
  font-size: 50px;
  text-align: right;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline: none;
  box-shadow: inset 3px 3px 5px black, inset -3px -3px 5px black;
}
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}
button {
  font-size: 25px;
  width: 80px;
  height: 70px;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
  color: orange;
  box-shadow: 1px 1px 2px white;
}
button:active {
  background: rgba(255, 255, 255, 0.3);
}
